<!DOCTYPE html>
<html>
<head>
    <title>Danh sách các thành viên</title>
    <!--Custom Theme files-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/admin.css">
    <!--web-fonts-->
    <link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!--//web-fonts-->
</head>
<body>
<div class="container">
    <%- include('../elements/header'); %>
    <h2>Danh sách menu</h2>
    <table class="table table-border">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Home</td>
            <td><a href="/menu/home" class="btn btn-primary">Edit</a> </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Features</td>
            <td><a href="/menu/features" class="btn btn-primary">Edit</a> </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Price</td>
            <td><a href="/menu/prices" class="btn btn-primary">Edit</a> </td>
        </tr>
        <tr>
            <td>4</td>
            <td>Reviews</td>
            <td><a href="/menu/reviews" class="btn btn-primary">Edit</a> </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
