<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Dialog - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( ".dialog" ).dialog();
  } );
  </script>
</head>
<body>
 
<div class="dialog" title="Basic dialog">
  <ul>
    
  </ul>
  <input class="form-control" name="message" type="text" placeholder="Nhập nội dung tin nhắn" />
</div>
<div class="dialog" title="Basic dialog">
    <p>Cái số 2</p>
  </div>
<div class="dialog" title="Basic dialog">
    <p>Cái số 3</p>
  </div>
 
 
</body>
</html>