<ul class="list-menu-link">
    <li><a href="/logout" title="Đăng xuất" data-toggle="tooltip" data-placement="right"><i class="fa fa-power-off"></i></a> </li>
    <li><a href="/" title="Chát" data-toggle="tooltip" data-placement="right"><i class="fa fa-comment"></i></a> </li>
    <li><a href="/profile" title="Cá nhân" data-toggle="tooltip" data-placement="right"><i class="fa fa-user"></i></a> </li>
</ul>