<!DOCTYPE html>
<!-- saved from url=(0029)/ -->
<html lang="en" class="fontawesome-i2svg-active fontawesome-i2svg-complete">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Appscr</title>
    <!--Meta-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>
    <!--Jquery 3.3.1 JS-->
    <script src="/homepage/jquery-3.3.1.min.js"></script>
</head>

<body>

    Home page
</body>
</html>