<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chat</title>
  <script src="/jquery.min.js"></script>
</head>
<body>

 <div id="chat24h" data-user-id="EJpT4MYt0RqkrcFWkqwx"></div>
 <script src="/chat24.js"></script>
</body>
</html>