<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Register Login with Authentication</title>
<!--Custom Theme files-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
</head>
<body>
	<h1>ﾄ斉ハg kﾃｽ thﾃnh viﾃｪn 泅 </h1>
	<!-- main -->
	<div class="main">
		<!--login-profile-->
		<div class="agile">
			<div class="signin-form profile">
				<h3>ﾄ斉ハg kﾃｽ</h3>

				<div class="login-form">
					<form action="/signup" method="post">
						<input type="text" name="email" placeholder="E-mail" required="">
						<input type="text" name="username" placeholder="Tﾃｪn c盻ｧa b蘯｡n" required="">
						<input type="password" name="password" placeholder="M蘯ｭt kh蘯ｩu" required="">
						<input type="password" name="passwordConf" placeholder="Xﾃ｡c nh蘯ｭn m蘯ｭt kh蘯ｩu" required="">
						<input type="submit" value="ﾄ斉ハg kﾃｽ">
					</form>
					<br />
					<a href="/" class="formLinks">ﾄ斉ハg nh蘯ｭp</a>
				</div>
			</div>
		</div>
		<!--//signin-form-->
	</div>
</body>
</html>
